.vscode/**
.vscode-test/**
out/test/**
source/**
.gitignore
vsc-extension-quickstart.md
images/clairvoyanthex.1024.png
images/clairvoyanthex.ico
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/.DS_Store
clairvoyant-vscode.code-workspace
